.newButton {
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background: rgb(125, 125, 100);
    color: rgb(25, 25, 50);
}